<li>
    <div class="interview-item">
      <p>
        <strong>Interviews</strong>
        <br>
        <a><strong>Company Name:</strong> <%= interview.company %>,</a>
        <a><strong>Interview Date:</strong> <%= interview.interview_date %>,</a>
        <a><strong>Interview Result:</strong> <%= interview.result %>,</a>
      </p>
    </div>
</li>